@import "config";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

//Encabezados
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

//Botones
.btn {
  background-color: $secondary-color;
  color: #fff;
  font-weight: 200;
  border: 0;
  border-radius: 25px;
  padding: 20px 20px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    @include easeOut;
    background-color: $primary-color;
    color: beige;
  }
}

#seccion-ppal {
  @include background;

  & div.contenido {
    @include text-w-btn;
  }
}
